@import '../styles/settings';

header {
	padding: 2.5rem 0 4.7rem;
	background: $green;
	
	h1 {
		padding-left: 24px;
		user-select: none;
		-webkit-user-select: none;
	}

	@media screen and (min-width: $large) {
		padding: 4rem 0 6rem;
	}
}
