<div class="row pl-container">
	<div class="small-12 columns">
		<md-card>
			<ul class="pl" *ngFor="let video of page">
				<li class="pl__item">
					<a [routerLink]="['/video', video.snippet.resourceId.videoId]">
						<picture>
							<source media="(max-width: 481px)" srcset="{{ video.snippet.thumbnails.default.url }} 1x,
								{{ video.snippet.thumbnails.medium.url }} 2x,">

							<source media="(min-width: 482px)" srcset="{{ video.snippet.thumbnails.medium.url }} 1x,
								{{ video.snippet.thumbnails.high.url }} 2x">

							<img src="{{ video.snippet.thumbnails.medium.url }}" alt="{{ video.snippet.title }}">
						</picture>
					</a>
					<a [routerLink]="['/video', video.snippet.resourceId.videoId]">{{ video.snippet.title }}</a>
				</li>
			</ul>
		</md-card>
	</div>
</div>