<div class="row pl-container">
	<div class="small-12 columns">
		<md-card>
			<ul class="pl">
				<li *ngFor="let video of page" class="pl__item">
					<a [routerLink]="['/video', video.snippet.resourceId.videoId]">
						<picture>
							<source media="(max-width: 481px)" srcset="{{ video.snippet.thumbnails.default.url }} 1x,
								{{ video.snippet.thumbnails.medium.url }} 2x,">

							<source media="(min-width: 482px)" srcset="{{ video.snippet.thumbnails.medium.url }} 1x,
								{{ video.snippet.thumbnails.high.url }} 2x">

							<img src="{{ video.snippet.thumbnails.medium.url }}" alt="{{ video.snippet.title }}">
						</picture>
					</a>
					<a [routerLink]="['/video', video.snippet.resourceId.videoId]">{{ video.snippet.title }}</a>
				</li>
			</ul>
			<nav>
				<ul class="pl__pagination">
					<li *ngFor="let p of pages; let i = index;">
						<a [routerLink]="['/playlist', i+1]">{{ i+1 }}</a>
					</li>
				</ul>
			</nav>
		</md-card>
	</div>
</div>